services:
  frontend:
    image: node:20
    working_dir: /app
    volumes:
      - ./frontend:/app
      - frontend_node_modules:/app/node_modules
    command: sh -c "npm install && npm run start"
    ports:
      - "4200:4200"

volumes:
  frontend_node_modules:
